<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.MedicalClinic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Medical_Clinic">
        <activity android:name="com.example.MedicalClinic.SignUp"></activity>
        <activity android:name="com.example.MedicalClinic.Login" />
        <activity
            android:name="com.example.MedicalClinic.ListOfPatientActivity"
            android:exported="true" />
        <activity
            android:name="com.example.MedicalClinic.DoctorMainPage"
            android:exported="true" />
        <activity android:name="com.example.MedicalClinic.AppointmentActivity" />
        <activity android:name="com.example.MedicalClinic.DisplayDoctorActivity" />
        <activity
            android:name="com.example.MedicalClinic.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>